
<% @reflex_variables = { reflex_pages: @reflex_pages, responses: @responses, radioed: @radioed } %>




<% if @reflex_pages['HOME'] %>
    <%= render 'shared/home' %>
<% elsif @reflex_pages['SURVEY'] %>
    <%= render 'shared/survey' %>
<% end %>

<div style="height: 30px;">
</div>

<footer class="bg-dark" style="position: fixed; bottom: 0px; left: 0px; width: 100vw;">
    <div class="container-fluid d-flex justify-content-end">
        <span class="text-muted">
            &#169; <%= Time.now.strftime('%Y') %> <strong class="f-racing">SMISCO</strong>&trade; | All Rights Reserved
        </span>
    </div>
</footer>