/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$body-bg: #272727;
$body-color: #FCFFFC;
$theme-colors: (
    'primary': #190596,
    'secondary': #FF0035,
    'three': #56A3A6,
    'tea': #D0FFCE,
    'green': #23CE6B,
    'yellow': #E3B505,
    'light': #FCFFFC,
    'dark': #272727
);
@import 'bootstrap/scss/bootstrap';

// html { font-size: 2rem; }
// @media screen and (min-width: 700px) {
//     html { font-size: 1rem; }
// }

// @media (min-width: 992px) {
//     html { font-size: 1.75rem; }
// }
// @media (min-width: 1200px) {
//     html { font-size: 2rem; }
// }
.f-racing {
    font-family: 'Racing Sans One', cursive;
}